body{
    background-image: url("../images/destinyBlur.jpg");
}
h3{
    color:#34495E!important;
}
.signupfield{
    margin-bottom: 5px;
}
.signIn{
    margin-top: 50px;
}
.connexion{
    width: 40%!important;
}
.navbar-form{
    padding-left: 0px!important;
}
.navbar-default{
    background-color: #34495E!important;
}
.navbar-brand {
    color: #F1C40F!important;
}
.form-control{
    color:#34495E!important;
}
.navbar-brand:hover{
    color: #9D7F05!important;
}
::-webkit-input-placeholder {
    color: #F1C40F!important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #F1C40F!important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #F1C40F!important;
}

:-ms-input-placeholder {
    color: #F1C40F!important;
}
