body{
    background-image: url("../images/destinyBlur.jpg");
}
h3{
    color:#34495E!important;
}
.signupfield{
    margin-bottom: 5px;
}
.signIn{
    margin-top: 50px;
}
.connexion{
    width: 40%!important;
}
.navbar-form{
    padding-left: 0px!important;
}
.navbar-default{
    background-color: #34495E!important;
}
.navbar-brand {
    color: #F1C40F!important;
}
.form-control{
    color:#34495E!important;
}
.navbar-brand:hover{
    color: #9D7F05!important;
}
::-webkit-input-placeholder {
    color: #F1C40F!important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #F1C40F!important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #F1C40F!important;
}

:-ms-input-placeholder {
    color: #F1C40F!important;
}
.errorCustom *{
    color: #F1C40F!important;
}

.error{

border-color: #F1C40F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 196, 15, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 196, 15, 0.6);
}
.errorSummary{
    color: #F1C40F!important;
}
